/* selector : tag name */
h1 {
    color: blueviolet;
}

/* selector : class name */

.blue{
    background-color: lightblue;
}

.green{
    background-color: lightgreen;
}

.f50{
    font-size: 50px;
}

/* selector : id */

#x{
    font-weight: 300;
}

/* ------------------ */
#menu{
    background-color: aqua;
}

.item{
    background-color: blueviolet;
}

.shop-list{
    list-style: none;
}