*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.5rem;
    list-style: none;
}

ul{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page{
    height: 100vh;
}

#page1{
    background-color: coral;
}

#page2{
    background-color: cornflowerblue;
}

#page3{
    background-color: hotpink;
}

#page4{
    background-color: crimson;
}