* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header nav .container .menu {
    position: fixed;
    /* top: 40%; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* left: 100%; */
    inset: 0;
    margin: auto 0;
    /* left: 150px; */
    width: 80px;
    height: 250px;
    z-index: 999;
    background-color: aliceblue;
    /* border-radius: 1rem; */
    border-top-right-radius: 16px;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .menu .item .menu-item{
    color: #999;
    font-size: 1.5rem;
}

.container .menu .item .menu-item:visited{
    color: #999;
}


.container .menu .item .menu-item:hover {
    color: #333;
    font-weight: 600;
}

.page {
    height: 100vh;
    width: 100vw;
}

#page1 {
    background-color: rgb(87, 235, 178);
}

#page2 {
    background-color: rgb(221, 127, 174);
}

#page3 {
    background-color: lightgoldenrodyellow;
    position: relative;
}

#page3 button{
    position: sticky;
    bottom: 50px;
}

#page4 {
    background-color: mediumspringgreen;
}
