/* fonts */
@font-face {
  font-family: vazir;
  src: url(./../fonts/Vazir.ttf);
}

/* general styles */
*{
  direction: rtl;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: vazir;
}

/* header */
.container{
  text-align: center;
  height: 60px;

box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.7);
}

ul, li{
  display: inline-block;
}

.item{
  margin: 15px 10px;
}

.item a{
  color: #999;
}

.item .item-link:hover{
  color: #333;
  font-weight: bold;
  transition: all .5s ease-in-out;
}