/*
.item{
    display: inline-block;


#menu{
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    justify-content: space-between;
}
*/

@font-face {
    font-family: vazir;
    src: url(./../fonts/Vazir.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    direction : rtl;
    font-family: vazir;
}

.hero{
    height: 550px;
    width: 100%;
    background-color: #21AA58;
}

.right{
    width: 49.7%;
    height: 100%;
    border: none;
    display: inline-block;
}

.left{
    width: 50%;
    height: 100%;
    border: none;
    display: inline-block;
}

#hero-image{
    width: 100%;
    height: 100%;
}