*{
  margin: 0;
  padding: 0;
}

.container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
  justify-content: space-around;

}

.item{
  width: 100px;
  height: 100px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.item1{
  background-color: coral;
}
.item2{
  background-color: cornflowerblue;
}
.item3{
  background-color: crimson;
}
.item4{
  background-color: indianred;
}
.item5{
  background-color: blueviolet;
}
.item6{
  background-color: darkseagreen;
}
.item7{
  background-color: darkgrey;
}
.item8{
  background-color: khaki;
}
.item9{
  background-color: lightseagreen;
}
.item10{
  background-color: palevioletred;
}


