@font-face {
  font-family: vazir;
  src: url(./../../../j04/assets/fonts/Vazir.ttf);
}

*{
  margin: 0;
  padding: 0;
  direction: rtl;
  list-style: none;
  text-decoration: none;
  font-family: vazir;
}

header{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

nav{
  height: 70px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container ul{
  width: 80%;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.left{
  display: flex;
  align-items: center;
}

.notification{
  font-size: 30px;
}

.profile{
  border-radius: 50%;
}